{% extends "home/basic.html" %}
{% block title %}
Welcome Page
{% endblock %}

{% block content %}
{% if not g.user %}
<div class="hero container-fluid text-center">
    <h4>Welcome to</h4>
    <h1>Duskvol</h1>
    <div class="bird-container">
        <img src="{{ url_for('static', filename='backgrounds/raven7.gif') }}" alt="Bird" class="bird" id="bird1">
    </div>
    <div class="bird-container">
        <img src="{{ url_for('static', filename='backgrounds/raven7.gif') }}" alt="Bird" class="bird" id="bird2">
    </div>
    <div class="bird-container">
        <img src="{{ url_for('static', filename='backgrounds/raven2.gif') }}" alt="Bird" class="bird" id="bird3">
    </div>
    <div class="bird-container">
        <img src="{{ url_for('static', filename='backgrounds/raven2.gif') }}" alt="Bird" class="bird" id="bird4">
    </div>
    <div class="bird-container">
        <img src="{{ url_for('static', filename='backgrounds/raven2.gif') }}" alt="Bird" class="bird" id="bird5">
    </div>
    <div class="bird-container">
        <img src="{{ url_for('static', filename='backgrounds/raven2.gif') }}" alt="Bird" class="bird" id="bird6">
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-6 box">
            <h4>Create your own character, make new campaigns, meet new people and explore the World of Shadows together with friends!</h4>
        </div>
    </div>
    <div class="button-container">
        <a href="{{ url_for('auth.show_sign_up_form') }}" class="btn btn-primary">Sign Up</a>
    </div>
    <div class="container" style="max-width: 900px">
        <div class="main-page-count-cards row justify-content-center mt-5">
            <div class="col-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
                <div class="main-page-card-count text-center" style="background-color: rgba(12, 26, 41, 0.8); padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 100%; max-width: 200px; aspect-ratio: 1;">
                    <h2 style="color:white; font-size: 1.5rem;" class="main-page-count-card-title">Users</h2>
                    <p style="color:white; font-size: 2rem;" class="main-page-count-card-text">{{ user_count }}</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
                <div class="main-page-card-count text-center" style="background-color: rgba(12, 26, 41, 0.8); padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 100%; max-width: 200px; aspect-ratio: 1;">
                    <h2 style="color:white; font-size: 1.5rem;" class="main-page-count-card-title">Characters</h2>
                    <p style="color:white; font-size: 2rem;" class="main-page-count-card-text">{{ character_count }}</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
                <div class="main-page-card-count text-center" style="background-color: rgba(12, 26, 41, 0.8); padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 100%; max-width: 200px; aspect-ratio: 1;">
                    <h2 style="color:white; font-size: 1.5rem;" class="main-page-count-card-title">Campaigns</h2>
                    <p style="color:white; font-size: 2rem;" class="main-page-count-card-text">{{ campaign_count }}</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
                <div class="main-page-card-count text-center" style="background-color: rgba(12, 26, 41, 0.8); padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 100%; max-width: 200px; aspect-ratio: 1;">
                    <h2 style="color:white; font-size: 1.5rem;" class="main-page-count-card-title">Playbooks</h2>
                    <p style="color:white; font-size: 2rem;" class="main-page-count-card-text">7</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<h4>Welcome Back!</h4>
{% endif %}
{% endblock %}
