# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Flask specific
instance/
*.pyo
*.pyd

# Environments
.env
.venv
ENV/
env/
venv/
ENV.bak/
venv.bak/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon\r

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# PyCharm specific
.idea/
*.iml
*.iws
*.ipr

# PyCharm's local history
.idea/workspace.xml
.idea/tasks.xml

# PyCharm's project settings
.idea/inspectionProfiles/

# Python virtual environment
*.env
*.venv
env/
venv/
ENV/
ENV.bak/
venv.bak/

# Flask config
*.log
*.pot
*.pyc
*.mo
*.po
*.db

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Test logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# SQLite database files
*.db
*.sqlite3

# Env files
.env
.env.*

