@import url("https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap");

body {
  /*background-image: url('../back.jpeg');*/
  background-color: #050a13;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Sedan SC", serif;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.hero {
  height: 94vh;
  background-image: url("../image/blades_background_hd.png");
  background-size: cover;
  background-position: top;
}
.hero {
    height: 94vh;
    background-size: cover;
    background-position: top;
}

.default-background {
    background-image: url("../backgrounds/default_back.jpg");
}

.campaign-background {
    background-image: url("../backgrounds/campaign_back.jpg");
}


.dropdown-item {
  background-color: #5684a9;
  color: white;
  padding: 10px;
  border: 1px solid #ffffff; /* White border */
  border-radius: 5px; /* Adjust the radius as needed */
  margin-bottom: 5px; /* Space between items */
}
.custom-navbar {
  background-color: #1d3853; /* Custom background color */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: white; /* White text */
}

.custom-navbar .nav-link:hover {
  color: #74a5c3; /* Slightly lighter on hover */
}

.custom-navbar .brand-logo {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  margin-right: 10px; /* Space between logo and text */
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

h1,
h4 {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.hero h4 {
  padding-top: 10px;
  font-size: 4em;
  text-align: center;
}

.hero h1 {
  text-align: center;
  font-size: 8em;
  margin-top: 40px;
}
.box {
  text-align: center;
}

.box h4 {
  text-align: center;
  font-size: 2em;
  color: #b1e3fa;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px; /* Adjust padding to reduce the height */
  border-radius: 10px; /* Adjust border radius as needed */
  display: inline-block; /* Make the box fit the content */
  border: 2px solid #b1e3fa; /* Add border with color */
}

.btn-primary {
  background-color: #1d3853; /* Custom background color */
  border: 2px solid #b1e3fa; /* Custom border color */
  color: #b9e9fd; /* Custom text color */
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 1em; /* Adjust font size as needed */
  border-radius: 5px; /* Adjust border radius as needed */
  cursor: pointer; /* Change cursor to pointer on hover */
  text-align: center;
  text-decoration: none; /* Remove underline from links */
  display: inline-block; /* Ensure the button respects padding */
}
.button-container {
  padding-top: 30px;
  text-align: center;
}

.btn-primary:hover {
  background-color: #a1d3ea; /* Slightly darker color on hover */
  border: 2px solid #a1d3ea; /* Matching border color on hover */
}

/*SIGN UP FORM*/

.sign-form {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/*LOGIN FORM*/

.login-form {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/*USER PROFILE*/
.header {
  text-align: center;
  margin-top: 20px;
  font-family: "Gothic A1", sans-serif; /* Ensure you have this font or replace it with another Gothic font */
}

.header-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
  margin-top: -20px;
}
.card-hero {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.card-image {
  width: 100px;
  height: 100px;
  margin-top: -50px;
  border: 3px solid white;
}

.profile-info {
  margin-top: -50px;
  padding: 10px;
}

.button-container {
  margin-top: 20px;
}

.btn-edit,
.btn-delete {
  margin: 5px;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.container {
  margin-top: -20px;
}

/* Edit Profile Form Styles */

#user_form {
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
  color: white;
  border: 1px solid #5684a9; /* Box border */
  border-radius: 10px; /* Border radius */
  padding: 20px; /* Padding inside the box */
}

#user_form .form-group {
  margin-bottom: 20px;
}

.edit-btn-area {
  display: flex;
  justify-content: space-between;
}

.btn-success,
.btn-outline-secondary {
  width: 48%;
}

.alert-container {
  position: fixed;
  top: 60px; /* Adjust the top value as needed */
  right: 20px; /* Adjust the right value as needed */
  z-index: 1050; /* Ensure the alert is on top of other content */
}


/* Create/edit campaignForm Styles */


.campaign{
  height: 100vh;
  background-image: url("../backgrounds/campaign_back.jpg");
  background-size: cover;
  background-position: top;

}
.campaign-container h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    width: 500px;
    color:#217996;

}


.campaign-container .form-group {
    margin-bottom: 15px;
   font-weight: bold;
    width: 500px;
    color:#1D3853;
    font-size: 1.5em;

}

.campaign-container .form-control {
    border-radius: 5px;
      border: 1px solid #217996 ;


}
.campaign-container .btn-outline-secondary {
    border: 1px solid #ACFAFD ;

    background-color:#3F4042;
}


.campaign-container .btn-success {
    margin-right: 10px;
    background-color:#5684A9;
      border: 1px solid #ACFAFD ;

}

/* Campaigns Styles */

.my-campaign-background {
    background-image: url("../backgrounds/navy_blue_hue_image.jpg"); /* Update this path to your actual image path */
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.my-camp-container {
    position: relative;
    z-index: 1;

}.camp-text {
     font-weight: bold;
    font-family: "Sedan SC", serif;
    color: #217996;
    font-size: 2em; /* Adjust the size as needed */
    margin-top: 20px; /* Adds margin above */
    margin-right: 10px;
    padding: 15px; /* Adds padding inside the box */
    background-color: #f8f9fa; /* Background color */
    border: 1px solid #dee2e6; /* Border color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    justify-content: center;
    text-align: center;
}

 /*CARDS CAMPAIGN*/

.card {
    margin-bottom: 20px;
    background-color: #1D3853; /* Dark theme background for cards */
    color: white; /* Text color for better readability on dark background */
    border: 1px solid #ACFAFD; /* Border color */
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.card:hover {
    transform: translateY(-10px); /* Lift the card up */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

.card h5 {
    color: #ACFAFD; /* Title color */
    text-align: center;
}

.card-img-top {
    height: 200px;  /* Adjust the height as needed */
    width: 100%;
    object-fit: cover;  /* Ensures the image covers the entire area without distortion */
}

.card-title {
    font-weight: bold;
    font-family: "Sedan SC", serif;
    text-align: center;
    font-size: 2em;
}
.card-description{
     color: white;
     margin-right:5px;
}
.card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.card-buttons .btn {
    font-size: 0.8em;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.card-buttons .btn i {
    margin-right: 5px;
}

.card-buttons .btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

.card-buttons .btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
}
.card-body{
    color:white;
    padding:10px;
    margin-top: 5px;
    margin-right:5px;
}

/* SHOW CAMPAIGN PAGE*/

.p-4.bg-light.rounded {
    margin-bottom: 20px;
}

.description-container, .crew-container {
    background-color: #6EC0D8; /* Light background color */

    border: 3px solid #1D3853; /* Border color */
    border-radius: 20px; /* Border radius */
    width: 100%; /* Full width */
    color: white;
    height:auto; /* Adjust height as needed */
    font-size: small;

}


.description-container, h4{
    margin-top: 10px;
    color: #1F4661;
}
p{
    border: 3px solid #1D3853; /* Border color */
    border-radius: 10px;
}





.btn {
    margin-bottom: 10px;
}

.row {
    padding-top: 60px;
}

.description-campaign {
    border: 3px solid #1D3853; /* Border color */
    border-radius: 10px;

    color: white;
 width: 600px;
    height: auto;
}


.name-campaign{
    border: 3px solid #1d3853; /* Border color */
    border-radius: 10px;
    background-color:white;

}
