{% extends "home/basic.html" %}

{% block title %}
Blades In The Dark
{% endblock %}
{% block content %}
<div class="join-campaign d-flex justify-content-center align-items-center">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h2 class="card-title text-white text-center">Join Campaign</h2>
            <form action="{{ url_for('campaigns.join_campaign') }}" method="POST">
                <div class="form-group">
                    <label for="campaign_id">Campaign ID:</label>
                    <input type="number" class="form-control" id="campaign_id" name="campaign_id" required>
                </div>
                <div class="form-group">
                    <label for="character_id">Character:</label>
                    <select class="form-control" id="character_id" name="character_id" required>
                        {% for character in characters %}
                            <option value="{{ character.id }}">{{ character.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Join</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
