{% extends "home/basic.html" %}

{% block title %}
My Campaigns - Blades In The Dark
{% endblock %}

{% block hero_class %}
my-campaign-background
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="my-camp-container">
        <h2 class="camp-text text-center mb-4">My Campaigns</h2>
        <div class="row justify-content-left">
            {% for campaign in campaigns %}
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <a href="{{ url_for('campaigns.show_campaign', campaign_id=campaign.id) }}" class="text-decoration-none text-dark" style="display: block;">
                        {% if campaign.campaign_picture.startswith('http') %}
                            <img src="{{ campaign.campaign_picture }}" class="card-img-top" alt="Campaign Picture">
                        {% else %}
                            <img src="{{ url_for('static', filename=campaign.campaign_picture.lstrip('/')) }}" class="card-img-top" alt="Campaign Picture">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ campaign.name }}</h5>
                            <p class="card-text">{{ campaign.description[:100] }}{% if campaign.description|length > 300 %}...{% endif %}</p>
                        </div>
                    </a>
                    <div class="card-buttons d-flex justify-content-between p-3">
                        <span class="btn btn-primary btn-sm" onclick="location.href='{{ url_for('campaigns.edit_campaign', campaign_id=campaign.id) }}'">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </span>
                        <span class="btn btn-danger btn-sm" onclick="if(confirm('Are you sure you want to delete this campaign?')) location.href='{{ url_for('campaigns.delete_campaign', campaign_id=campaign.id) }}'">
                            <i class="fa-solid fa-trash"></i>
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

