{% extends "home/basic.html" %}

{% block title %}
Participating Campaigns
{% endblock %}

{% block content %}
<div class="participating container">
    <div class="my-char-container">
        <h2 class="part-camp text-white text-center mt-4">Participating Campaigns</h2>
    </div>
    <div class="participating-camp container character-list mt-1">
        <div class="participating-pagination mt-4">
            {% if characters_pagination.has_prev %}
                <a href="{{ url_for('campaigns.participating_campaigns', page=characters_pagination.prev_num) }}" class="btn btn-primary">&laquo; Previous</a>
            {% endif %}
            {% if characters_pagination.has_next %}
                <a href="{{ url_for('campaigns.participating_campaigns', page=characters_pagination.next_num) }}" class="btn btn-primary">Next &raquo;</a>
            {% endif %}
        </div>
        <div class="row justify-content-left">
            {% for character in characters_pagination.items %}
                <div class="col-md-4 mb-4">
                    <div class="participating-polaroid-card">
                        {% if character.image_url %}
                            <img src="{{ character.image_url }}" alt="{{ character.name }}" class="img-fluid mb-3 polaroid-image">
                         {% elif character.image%}
                           <img src="{{ character.image }}" alt="{{ character.name }}" class="img-fluid mb-3 polaroid-image">
                        {% else %}
                            <img src="{{ url_for('static', filename='default_picture.jpg') }}" alt="{{ character.name }}" class="img-fluid mb-3 polaroid-image">
                        {% endif %}
                        <h5 class="card-title">{{ character.name }}</h5>
                        <p class="card-text"><strong>Abilities:</strong></p>
                        <ul class="list-unstyled">
                            {% for ability in character.abilities %}
                                <li>{{ ability.name }}</li>
                            {% endfor %}
                        </ul>
                        {% if character.campaign %}
                            <p class="card-text"><strong>Campaign:</strong> {{ character.campaign.name }}</p>
                            <a href="{{ url_for('campaigns.show_campaign', campaign_id=character.campaign.id) }}" class="btn btn-primary btn-block mb-2">View Campaign</a>
                            <form action="{{ url_for('campaigns.leave_campaign') }}" method="POST">
                                <input type="hidden" name="character_id" value="{{ character.id }}">
                                <button type="submit" class="btn btn-danger btn-block">Leave Campaign</button>
                            </form>
                        {% else %}
                            <p class="card-text"><strong>Campaign:</strong> None</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}







