{% extends "home/basic.html" %}

{% block title %}
Participating Campaigns
{% endblock %}

{% block content %}


<section class="text-white py-4 py-xl-5">
    <div class="container">
        <h1 class="text-center mb-4">Participating Campaigns</h1>
        <div class="row">
            {% for campaign in campaigns %}
                <div class="col-md-6 mb-4">
                    <div class="card bg-dark text-white">
                        {% if campaign.campaign_picture %}
                            <img src="{{ campaign.campaign_picture }}" class="card-img-top" alt="{{ campaign.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ campaign.name }}</h5>
                            <div class="characters-in-campaign">
                                {% for character in campaign.characters %}
                                    <div class="character d-flex align-items-center mb-3">
                                        {% if character.look %}
                                            <img src="{{ character.look }}" class="character-image" alt="{{ character.name }}">
                                        {% else %}
                                            <img src="/static/contacts/Grace.jpg" class="character-image" alt="{{ character.name }}">
                                        {% endif %}
                                        <h3>{{ character.name }}</h3>
                                        <form method="POST" action="{{ url_for('campaigns.leave_campaign', character_id=character.id) }}" class="ml-auto">
                                            <button type="submit" class="btn btn-danger btn-sm">Leave</button>
                                        </form>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
