{% extends "home/basic.html" %}

{% block title %}
Blades In The Dark
{% endblock %}

{% block content %}
<section class="text-white py-4 py-xl-5" style="background-color: none;">
    <div class="container justify-content-center">
        {% if campaign.campaign_picture.startswith('http') %}
            {% set background_url = campaign.campaign_picture %}
        {% else %}
            {% set background_url = url_for('static', filename=campaign.campaign_picture.lstrip('/')) %}
        {% endif %}
        <div class="border rounded border-10 d-flex flex-column justify-content-center align-items-center p-4 py-5"
             style="background: url('{{ background_url }}') center / cover; height: 300px; width: 100%; max-width: 1200px; margin: 0 auto; position: relative;">
            <h1 class="name-campaign text-shadow" style="font-size: 3rem; font-weight: bold; text-align: center;">{{ campaign.name }}</h1>
            <div class="row mt-3">
                <div class="col text-center">
                    <p class="mb-4 p-3 description-box">{{ campaign.description }}</p>
                    <div style="display: flex; justify-content: center;">
                        {% if g.user and g.user.id == campaign.creator_id %}
                            <a href="{{ url_for('session.add_session', campaign_id=campaign.id) }}" class="btn btn-primary btn-lg mx-2">New Session</a>
                              <a href="{{ url_for('campaigns.edit_campaign', campaign_id=campaign.id) }}" class="btn btn-primary btn-lg mx-2">Edit</a>
                        {% endif %}
                        <button class="btn btn-light btn-lg fs-5 py-2 px-4 mx-2" type="button">Crew</button>
                        <a href="{{ url_for('campaigns.leave_campaign', campaign_id=campaign.id) }}" class="btn btn-danger btn-lg mx-2">Leave</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col">
            <div class="border rounded p-4" style="background-color: #83B1D3;">
                <h4 class="text-center" style="font-size: 2rem;">Session History</h4>
                <div class="container-fluid">
                    {% if sessions|length == 0 %}
                        <p class="text-center" style="margin: 20px;">No sessions have been created yet.</p>
                    {% else %}
                        <ul class="list-group container-fluid">
                            {% for session in sessions %}
                                <li class="list-group-item">
                                    <div style="display: inline; justify-content: space-between; align-items: center;">
                                        <div>
                                            <h5>{{ session.title }}</h5>
                                            <div style="display: flex; align-items: center;">
                                                {% if g.user and g.user.id == campaign.creator_id %}
                                                    <a href="{{ url_for('session.edit_session', session_id=session.id) }}" class="edit-button" data-session-id="{{ session.id }}" style="margin-right: 10px;">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </a>
                                                    <form action="{{ url_for('session.delete_session', session_id=session.id) }}" method="POST" style="display:inline;">
                                                        <button type="submit" class="btn btn-link p-0" style="color:red;">
                                                            <i class="fa-solid fa-trash"></i>
                                                        </button>
                                                    </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="container-fluid">
{#                                            <p>{{ session.notes|nl2br }}</p>#}
                                                 <p>{{ session.notes }}</p>
                                        </div>
                                        <div class="container-fluid">
                                            {% if session.updated_at and session.updated_at != session.created_at %}
                                                <h2 class="date">Updated At: {{ session.updated_at.strftime('%b %d %H:%M') }}</h2>
                                            {% else %}
                                                <h2 class="date">Created At: {{ session.created_at.strftime('%b %d %H:%M') }}</h2>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
