{% extends "home/basic.html" %}

{% block title %}
Blades In The Dark
{% endblock %}

{% block content %}
<div class="show-campaign container">
    <section class="text-white py-4 py-xl-5">
        <div class="container justify-content-center">
            {% if campaign.campaign_picture.startswith('http') %}
                {% set background_url = campaign.campaign_picture %}
            {% else %}
                {% set background_url = url_for('static', filename=campaign.campaign_picture.lstrip('/')) %}
            {% endif %}
            <div class="banner-campaign border rounded border-10 d-flex flex-column justify-content-center align-items-center p-4 py-5"
                 style="background: url('{{ background_url }}') center / cover;">
                <button class="btn btn-secondary btn-lg justify-content-end" disabled style="position: absolute; top: 0; right: 0;">
                    campaign_id : {{ campaign.id }}
                </button>
                <h1 class="name-campaign text-shadow">{{ campaign.name }}</h1>
                <div class="row mt-3">
                    <div class="col text-center">
                        <p class="mb-4 p-3 description-box">{{ campaign.description }}</p>
                        <div class="camp-description">
                            {% if g.user and g.user.id == campaign.creator_id %}
                                <a href="{{ url_for('session.add_session', campaign_id=campaign.id) }}" class="btn btn-primary btn-lg mx-2">New Session</a>
                                <a href="{{ url_for('campaigns.edit_campaign', campaign_id=campaign.id) }}" class="btn btn-primary btn-lg mx-2">Edit</a>
                                <a href="{{ url_for('campaigns.delete_campaign', campaign_id=campaign.id) }}" class="btn btn-danger btn-lg mx-2">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="sessions-characters-container container-fluid mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="sessions border rounded p-4">
                    <h4 class="text-center session-header">Session History</h4>
                    <div class="container-fluid">
                        {% if sessions|length == 0 %}
                            <p class="text-center message-empty">There are no sessions yet.</p>
                        {% else %}
                            <div class="btn-group-horizontal">
                                {% for session in sessions %}
                                    <button type="button" class="btn btn-lg btn-outline-light mb-3 session-btn custom-sessions-btn justify-content-between" data-toggle="modal" data-target="#sessionModal{{ session.id }}">
                                        {{ sessions_pagination.total - (sessions_pagination.page - 1) * sessions_pagination.per_page - loop.index0 }}
                                    </button>
                                    <div class="modal fade" id="sessionModal{{ session.id }}" tabindex="-1" aria-labelledby="sessionModalLabel{{ session.id }}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="sessionModalLabel{{ session.id }}">{{ session.title }}</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>{{ session.notes }}</p>
                                                    {% if session.updated_at and session.updated_at != session.created_at %}
                                                        <p>Updated At: {{ session.updated_at.strftime('%b %d %H:%M') }}</p>
                                                    {% else %}
                                                        <p>Created At: {{ session.created_at.strftime('%b %d %H:%M') }}</p>
                                                    {% endif %}
                                                </div>
                                                <div class="modal-footer">
                                                    {% if g.user and g.user.id == campaign.creator_id %}
                                                        <a href="{{ url_for('session.edit_session', session_id=session.id) }}" class="btn btn-primary">Edit</a>
                                                        <form action="{{ url_for('session.delete_session', session_id=session.id) }}" method="POST" style="display:inline;">
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                        </form>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <nav aria-label="Session Pagination">
                        <ul class="pagination justify-content-center custom-pagination">
                            {% if sessions_pagination.has_prev %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('campaigns.show_campaign', campaign_id=campaign.id, page_sessions=sessions_pagination.prev_num) }}">Previous</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">Previous</span></li>
                            {% endif %}

                            {% for page_num in sessions_pagination.iter_pages() %}
                                {% if page_num %}
                                    {% if page_num == sessions_pagination.page %}
                                        <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="{{ url_for('campaigns.show_campaign', campaign_id=campaign.id, page_sessions=page_num) }}">{{ page_num }}</a></li>
                                    {% endif %}
                                {% else %}
                                    <li class="page-item disabled"><span class="page-link">…</span></li>
                                {% endif %}
                            {% endfor %}

                            {% if sessions_pagination.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('campaigns.show_campaign', campaign_id=campaign.id, page_sessions=sessions_pagination.next_num) }}">Next</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">Next</span></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="characters-container col-lg-6">
                <div class="characters border rounded p-4">
                    <h4 class="characters-header text-center">Characters</h4>
                    <div class="d-flex flex-wrap justify-content-center">
                        {% if characters|length == 0 %}
                            <p class="text-center message-empty">There are no characters participating in this campaign.</p>
                        {% else %}
                            {% for character in characters %}
                                <div class="character-card m-2 text-center position-relative" style="width: 30%;">
                                    {% if character.image_url %}
                                        <div class="character-circle mb-2" style="background-image: url('{{ character.image_url }}');" data-toggle="modal" data-target="#characterModal{{ character.id }}"></div>
                                     {% elif character.image%}
                                        <div class="character-circle mb-2" style="background-image: url('{{ character.image }}');"  data-toggle="modal" data-target="#characterModal{{ character.id }}"></div>
                                    {% else %}
                                        <div class="character-circle mb-2" style="background-image: url('{{ url_for('static', filename='default_picture.jpg') }}');" data-toggle="modal" data-target="#characterModal{{ character.id }}"></div>
                                    {% endif %}
                                    <span class="character-name-overlay position-absolute text-white bg-dark text-center py-1" style="bottom: 0;">
                                        {{ character.name }}
                                        {% if g.user and g.user.id != campaign.creator_id %}
                                            <span class="leave-campaign-btn text-white" style="cursor: pointer;" data-toggle="modal" data-target="#leaveCampaignModal{{ character.id }}">
                                               <i class="fa-solid fa-right-from-bracket"></i>
                                            </span>
                                        {% endif %}
                                    </span>
                                    {% if g.user and g.user.id == campaign.creator_id %}
                                        <span class="delete-character-overlay position-absolute  text-center py-1" style="top: 0; right: 0; cursor: pointer;" data-toggle="modal" data-target="#deleteCharacterModal{{ character.id }}">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                    {% endif %}
                                </div>

                                <!-- Character Modal -->
                                <div class="modal fade" id="characterModal{{ character.id }}" tabindex="-1" aria-labelledby="characterModalLabel{{ character.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="characterModalLabel{{ character.id }}">{{ character.name }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {% if character.image_url %}
                                                    <img src="{{ character.image_url }}" class="fixed-size-image-all-characters mb-3" alt="{{ character.name }}">
                                                 {% elif character.image%}
                                                    <img src="{{ character.image }}" alt="{{ character.name }}" class="fixed-size-image-all-characters">
                                                {% else %}
                                                    <img src="{{ url_for('static', filename='default_picture.jpg') }}" class="default fixed-size-image-all-characters" alt="{{ character.name }}">
                                                {% endif %}
                                                <hr class="divide">
                                                <p><strong>Alias:</strong> {{ character.alias }}</p>
                                                <hr class="divide">
                                                <p><strong>Experience:</strong> {{ character.experience }}</p>
                                                <hr class="divide">
                                                <p><strong>Background:</strong> {{ character.background }}</p>
                                                <hr class="divide">
                                                <p><strong>Heritage:</strong> {{ character.heritage }}</p>
                                                <hr class="divide">
                                                <p><strong>Vice:</strong> {{ character.vice }}</p>
                                                <hr class="divide">
                                                <p><strong>Abilities:</strong>
                                                    <ul>
                                                        {% for ability in character.abilities %}
                                                            <li>{{ ability.name }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Delete Character Modal -->
                                <div class="modal fade" id="deleteCharacterModal{{ character.id }}" tabindex="-1" aria-labelledby="deleteCharacterModalLabel{{ character.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteCharacterModalLabel{{ character.id }}">Remove Character</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to remove {{ character.name }} from this campaign?
                                            </div>
                                            <div class="modal-footer">
                                                <form action="{{ url_for('campaigns.remove_character') }}" method="POST">
                                                    <input type="hidden" name="character_id" value="{{ character.id }}">
                                                    <input type="hidden" name="campaign_id" value="{{ campaign.id }}">
                                                    <button type="submit" class="btn btn-danger">Remove</button>
                                                </form>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Leave Campaign Modal -->
                                <div class="modal fade" id="leaveCampaignModal{{ character.id }}" tabindex="-1" aria-labelledby="leaveCampaignModalLabel{{ character.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="leaveCampaignModalLabel{{ character.id }}">Leave Campaign</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to leave the campaign as {{ character.name }}?
                                            </div>
                                            <div class="modal-footer">
                                                <form action="{{ url_for('campaigns.leave_campaign') }}" method="POST">
                                                    <input type="hidden" name="character_id" value="{{ character.id }}">
                                                    <input type="hidden" name="campaign_id" value="{{ campaign.id }}">
                                                    <button type="submit" class="btn btn-danger">Leave</button>
                                                </form>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <nav aria-label="Character Pagination">
                        <ul class="pagination justify-content-center custom-pagination">
                            {% if characters_pagination.has_prev %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('campaigns.show_campaign', campaign_id=campaign.id, page_characters=characters_pagination.prev_num) }}">Previous</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">Previous</span></li>
                            {% endif %}

                            {% for page_num in characters_pagination.iter_pages() %}
                                {% if page_num %}
                                    {% if page_num == characters_pagination.page %}
                                        <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="{{ url_for('campaigns.show_campaign', campaign_id=campaign.id, page_characters=page_num) }}">{{ page_num }}</a></li>
                                    {% endif %}
                                {% else %}
                                    <li class="page-item disabled"><span class="page-link">…</span></li>
                                {% endif %}
                            {% endfor %}

                            {% if characters_pagination.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('campaigns.show_campaign', campaign_id=campaign.id, page_characters=characters_pagination.next_num) }}">Next</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">Next</span></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
