:root, [data-bs-theme=light] {
  --bs-primary: #0d6efd;
  --bs-primary-rgb: 13,110,253;
  --bs-primary-text-emphasis: #052C65;
  --bs-primary-bg-subtle: #CFE2FF;
  --bs-primary-border-subtle: #9EC5FE;
  --bs-dark: #16181b;
  --bs-dark-rgb: 22,24,27;
  --bs-dark-text-emphasis: #090A0B;
  --bs-dark-bg-subtle: #D0D1D1;
  --bs-dark-border-subtle: #A2A3A4;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0d6efd;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0B5ED7;
  --bs-btn-hover-border-color: #0A58CA;
  --bs-btn-focus-shadow-rgb: 219,233,255;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0A58CA;
  --bs-btn-active-border-color: #0A53BE;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.btn-outline-primary {
  --bs-btn-color: #0d6efd;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0d6efd;
  --bs-btn-hover-border-color: #0d6efd;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0d6efd;
  --bs-btn-active-border-color: #0d6efd;
  --bs-btn-disabled-color: #0d6efd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0d6efd;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #16181b;
  --bs-btn-border-color: #16181b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #131417;
  --bs-btn-hover-border-color: #121316;
  --bs-btn-focus-shadow-rgb: 220,220,221;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #121316;
  --bs-btn-active-border-color: #111214;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #16181b;
  --bs-btn-disabled-border-color: #16181b;
}

.btn-outline-dark {
  --bs-btn-color: #16181b;
  --bs-btn-border-color: #16181b;
  --bs-btn-focus-shadow-rgb: 22,24,27;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #16181b;
  --bs-btn-hover-border-color: #16181b;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #16181b;
  --bs-btn-active-border-color: #16181b;
  --bs-btn-disabled-color: #16181b;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #16181b;
}

