{% extends 'home/basic.html' %}

{% block content %}
<div class="profile-edit container">
  <div class="row justify-content-md-center">
    <div class="col-md-4 edit-profile">

      <form method="POST" id="user_form">
          <h2 class="join-message text-center">Edit Your Profile</h2>
        {{ form.hidden_tag() }}

        <div class="form-group">
          {{ form.username.label }}
          {% for error in form.username.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ form.username(placeholder=form.username.label.text, class="form-control form-control-sm") }}
        </div>

        <div class="form-group">
          {{ form.email.label }}
          {% for error in form.email.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ form.email(placeholder=form.email.label.text, class="form-control form-control-sm") }}
        </div>

        <div class="form-group">
          {{ form.current_password.label }}
          {% for error in form.current_password.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ form.current_password(placeholder=form.current_password.label.text, class="form-control form-control-sm") }}
        </div>

        <div class="form-group">
          {{ form.new_password.label }}
          {% for error in form.new_password.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ form.new_password(placeholder=form.new_password.label.text, class="form-control form-control-sm") }}
        </div>

        <div class="edit-btn-area text-center">
            <button class="btn btn-sm btn-primary">{{ form.submit }}</button>
            <a href="{{ url_for('homepage.show_homepage_or_main_page') }}" class="btn btn-sm btn-light">Cancel</a>
            <form method="POST" action="{{ url_for('users.delete_profile') }}" class="d-inline">
                <button class="edit-profile-btn btn btn-sm btn-danger" type="submit">Delete Profile</button>
            </form>
        </div>

      </form>

    </div>
  </div>
</div>
{% endblock %}



