{% extends 'home/basic.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 edit-profile">
      <h2 class="join-message">Edit Your Profile</h2>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        <div class="form-group">
          {{ form.username.label }}
          {% for error in form.username.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ form.username(placeholder=form.username.label.text, class="form-control") }}
        </div>

        <div class="form-group">
          {{ form.email.label }}
          {% for error in form.email.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ form.email(placeholder=form.email.label.text, class="form-control") }}
        </div>

        <div class="form-group">
          {{ form.current_password.label }}
          {% for error in form.current_password.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ form.current_password(placeholder=form.current_password.label.text, class="form-control") }}
        </div>

        <div class="form-group">
          {{ form.new_password.label }}
          {% for error in form.new_password.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ form.new_password(placeholder=form.new_password.label.text, class="form-control") }}
        </div>

        <div class="edit-btn-area">
            <button class="btn btn-md btn-primary">{{ form.submit }}</button>
            <a href="{{ url_for('homepage.show_main_page') }}" class="btn btn-md btn-light text-center">Cancel</a>
            <form method="POST" action="{{ url_for('users.delete_profile') }}" >
                <button class="edit-profile-btn btn btn-md btn-danger " type="submit">Delete Profile</button>
            </form>
        </div>

      </form>

    </div>
  </div>
</div>
{% endblock %}



