{#{% extends 'home/basic.html' %}#}
{##}
{#{% block content %}#}
{#<div class="container">#}
{#    <div class="row">#}
{#        <!-- User Profile Sidebar -->#}
{#        <aside class="col-md-4 col-lg-3 col-sm-12" id="home-aside">#}
{#            <div class="card user-card">#}
{#                <div class="image-wrapper">#}
{#                    <img src="{{ g.user.header_image_url or url_for('static', filename='back.jpeg') }}" alt="Header Image" class="card-hero">#}
{#                </div>#}
{#                <div class="profile-info text-center">#}
{#                    <img src="{{ g.user.image_url or url_for('static', filename='default_profile.png') }}" alt="Profile Image" class="card-image rounded-circle">#}
{#                    <h3>@{{ g.user.username }}</h3>#}
{#                    <div class="button-container mt-2">#}
{#                        <a href="{{ url_for('users.edit_profile') }}" class="btn btn-primary">Edit</a>#}
{#                        <a href="{{ url_for('users.delete_profile') }}" class="btn btn-danger">Delete</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </aside>#}
{##}
{#    </div>#}
{#</div>#}
{#{% endblock %}#}




