{% extends "home/basic.html" %}

{% block title %}
Edit Stress - {{ character.name }}
{% endblock %}

{% block content %}
<div class="edit-stress-container d-flex justify-content-center align-items-center">
    <div class="edit-stress-box">
        <div class="box-header">
            <h2 class="text-center">Edit Stress for {{ character.name }}</h2>
        </div>
        <div class="stress-form">
            <form method="POST" action="{{ url_for('characters.edit_stress', character_id=character.id) }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.stress.label }}
                    {{ form.stress(class="form-control") }}
                </div>
                <div class="form-group text-center">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
